@using static Globals;
@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Syslog Live Feed</PageTitle>

<h1>Live Feed</h1>
<p>Received syslog messages are displayed below.</p>
<button @onclick="ClearLiveFeed">Clear Live Feed</button>
<table class="table">
  <thead>
    <tr>
      <th>Sent Date/Time</th>
      <th>Received Date/Time</th>
      <th>Source of Origin</th>
      <th>Protocol</th>
      <th>Severity</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    @foreach (SyslogMessage _msgItem in S_LiveFeedMessages.SyslogMessageList)
    {
      <tr>
        @if (_msgItem.Severity == 1)
        {
            dynamicColorForInfo = S_CurrentInfoColour;
            dynamicColor = S_CurrentInfoColour;
        }
        else if (_msgItem.Severity == 2)
        {
            dynamicColorForWarning = S_CurrentWarningColour;
            dynamicColor = S_CurrentWarningColour;
        }
        else if (_msgItem.Severity == 3)
        {
            dynamicColorForError = S_CurrentErrorColour;
            dynamicColor = S_CurrentErrorColour;
        }
        else if (_msgItem.Severity == 0)
        {
            dynamicColorForDebug = S_CurrentDebugColour;
            dynamicColor = S_CurrentDebugColour;
        }
        <td style="color: @dynamicColor;">@((_msgItem.SentDateTime is not null) ? _msgItem.SentDateTime.ToString() : "Unknown")</td>
        <td style="color: @dynamicColor;">@_msgItem.ReceivedDateTime.ToString()</td>
        <td style="color: @dynamicColor;">@_msgItem.SenderIP</td>
        <td style="color: @dynamicColor;">@_msgItem.ProtocolType</td>
        <td style="color: @dynamicColor;">@_msgItem.Severity.ToString()</td>
        <td style="color: @dynamicColor;">@((_msgItem.EndMessage is not null) ? _msgItem.EndMessage : "Unknown")</td>
      </tr>
    }
  </tbody>
</table>

@code {
  protected override void OnInitialized()
  {
    S_LiveFeedMessages.ListChanged += HandleListChanged;
  }
  private void HandleListChanged()
  {
    InvokeAsync( () =>
    {
      StateHasChanged();
    }
    );
  }
  private async Task ClearLiveFeed()
  {
    if (!await JSRuntime.InvokeAsync<bool>("confirm",
    "Would you like to clear the live feed? This action is irreversible, please make sure you export messages to keep a record of them."))
    {
      return;
    }
    S_LiveFeedMessages.ClearList();
  }
}