@page "/settings"
@using static Globals;
<h3>Settings</h3>
<br>
<h4>Usability settings</h4>
<br>
<label for="favcolor">Select Debug color:</label>
<input type="color" id="debugColor" name="debugColor" @bind="@S_currentDebugColour">
<br>
<br>
<label for="favcolor">Select Info color:</label>
<input type="color" id="infoColor" name="infoColor" @bind="@S_currentInfoColour">
<br>
<br>
<label for="favcolor">Select Warning color:</label>
<input type="color" id="warningColor" name="warningColor" @bind="@S_currentWarningColour">
<br>
<br>
<label for="favcolor">Select Error color:</label>
<input type="color" id="errorColor" name="errorColor" @bind="@S_currentErrorColour">
<br>
<br>
<h4>Networking settings</h4>
<br>
<label for="ipadresses">Choose the IP adress you want to listen to:</label>
<select id="ipadresses" name="ipadresses">
  <option value="fist" @bind="@S_receivingIpAddress"></option>
  <option value="second">169.254.226.158</option>
  <option value="third">192.168.0.120</option>
  <option value="fourth">192.168.56.1</option>
  <option value="fifth">169.254.56.110</option>
  <option value="sixth">169.254.83.10</option>
  <option value="seventh">169.254.84.78</option>
</select>
<br>
<br>
<label for="portNumber">Enter a port number: </label>
<input type="text" id="portNumber" tabindex="@S_receivingPortNumber" name="portNumber">
<br>
<br>
<label for="listeningProtocol">Choose the IP adress you want to listen to:</label>
<select id="listeningProtocol" name="listeningProtocol">
  <option value="UDP">UDP</option>
  <option value="TCP">TCP</option>
  <option value="UDP and TCP">Both</option>
</select>
@code {
}