@using SyslogAssignmentProject.Classes;
@page "/radioDisplay"
@inject RadioInjection InjectedRadio;
@inject GlobalInjection InjectedGlobals;


<h1>RadioDisplay</h1>
<img src="@InjectedRadio.radio.PathOfImage" width="292" height="140">

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudPaper Elevation ="5">
        <MudSelect T="string" Placeholder="Severity" @bind-Value="SelectedSeverity" FullWidth=false Dense=true>
            <MudSelectItem Value="@("")">All</MudSelectItem>
            <MudSelectItem Value="@("Debug")">Debug</MudSelectItem>
            <MudSelectItem Value="@("Info")">Info</MudSelectItem>
            <MudSelectItem Value="@("Warning")">Warning</MudSelectItem>
            <MudSelectItem Value="@("Error")">Error</MudSelectItem>
        </MudSelect>
    </MudPaper>
    <MudTable Items="@_listOfMessages" Hover="true" AllowUnsorted="true" Dense="true" Height="50em" FixedHeader="true" Filter="new Func<SyslogMessage,bool>(FilterFunc1)">
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<SyslogMessage,object>(x => x.ReceivingIP)"></MudTableSortLabel>Recieving IP</MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<SyslogMessage, object>(x => x.SentDateTime)"> Sent Date/Time</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<SyslogMessage, object>(x => x.ReceivedDateTime)">Received Date/Time</MudTableSortLabel></MudTh>
            <MudTh>Transmitter IP</MudTh>
            <MudTh>Severity</MudTh>
            <MudTh>Message</MudTh>
        </HeaderContent>
        <RowTemplate>
            @if (@context.Severity == 0)
            {
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_DEBUG_COLOUR}")>@context.ReceivingIP</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_DEBUG_COLOUR}")>@context.SentDateTime</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_DEBUG_COLOUR}")>@context.ReceivedDateTime</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_DEBUG_COLOUR}")>@($"{context.SenderIP} | {context.SenderPortNumber}")</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_DEBUG_COLOUR}")>@context.Severity</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_DEBUG_COLOUR}")>@context.EndMessage</MudTd>
            }
            @if (@context.Severity == 1)
            {
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_WARNING_COLOUR}")>@context.ReceivingIP</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_WARNING_COLOUR}")>@context.SentDateTime</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_WARNING_COLOUR}")>@context.ReceivedDateTime</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_WARNING_COLOUR}")>@($"{context.SenderIP} | {context.SenderPortNumber}")</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_WARNING_COLOUR}")>@context.Severity</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_WARNING_COLOUR}")>@context.EndMessage</MudTd>
            }
            @if (@context.Severity >= 2 && context.Severity <= 3)
            {
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_ERROR_COLOUR}")>@context.ReceivingIP</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_ERROR_COLOUR}")>@context.SentDateTime</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_ERROR_COLOUR}")>@context.ReceivedDateTime</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_ERROR_COLOUR}")>@($"{context.SenderIP} | {context.SenderPortNumber}")</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_ERROR_COLOUR}")>@context.Severity</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_ERROR_COLOUR}")>@context.EndMessage</MudTd>
            }
            @if (@context.Severity >= 4 && context.Severity <= 7)
            {
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_INFO_COLOUR}")>@context.ReceivingIP</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_INFO_COLOUR}")>@context.SentDateTime</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_INFO_COLOUR}")>@context.ReceivedDateTime</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_INFO_COLOUR}")>@($"{context.SenderIP} | {context.SenderPortNumber}")</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_INFO_COLOUR}")>@context.Severity</MudTd>
                <MudTd Style=@($"color: {InjectedGlobals.DEFAULT_INFO_COLOUR}")>@context.EndMessage</MudTd>
            }
        </RowTemplate>
    </MudTable>

</MudContainer>

<h2>Radio: @InjectedRadio.radio.IPAddress (@InjectedRadio.radio.TransportProtocol)</h2>

@code {
    
    

    private String SelectedSeverity;
    private List<SyslogMessage> _listOfMessages = new List<SyslogMessage>();
    private bool FilterFunc1(SyslogMessage element) => FilterFunc(element);

    protected override void OnInitialized()
    {
        InjectedGlobals.S_LiveFeedMessages.ListChanged += HandleListChanged;
        foreach(SyslogMessage msg in InjectedGlobals.S_LiveFeedMessages.SyslogMessageList)
        {
            if (msg.SenderIP == InjectedRadio.radio.IPAddress)
            {
                _listOfMessages.Add(msg);
            }
        }
    }
    /// <summary>
    /// Updates component when list updates.
    /// </summary>
    private void HandleListChanged()
    {
        _listOfMessages = InjectedGlobals.S_LiveFeedMessages.FilterList(InjectedRadio.radio.IPAddress, "None");
        InvokeAsync(() =>{StateHasChanged();});
    }

    private bool FilterFunc(SyslogMessage element)
    {
        if (string.IsNullOrWhiteSpace(SelectedSeverity))
            return true;
        if (element.Severity == 0 && SelectedSeverity == "Debug")
            return true;
        if (element.Severity == 1 && SelectedSeverity == "Warning")
            return true;
        if (element.Severity >= 2 && element.Severity <= 3 && SelectedSeverity == "Error")
            return true;
        if (element.Severity >= 4 && SelectedSeverity == "Info")
            return true;
        return false;
    }
}